.example-form {
   
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .row{
      margin-top: 20px;
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 20px;
      
  }
  b{
      color: gray
  }
 h5{
     color: dodgerblue;
 }
  